.app-container {
  background-image: url('../public/background-image.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
}