body,
html {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  background-image: url('../public/background-image.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}