.report-form {
  border: 1px solid #dddddd3c;
  padding: 1rem;
  margin: 1rem 0 1rem 15px;
  /* Adjusted margin to align with AddItemForm */
  width: 300px;
  font-family: 'Roboto', sans-serif;
  background-color: aliceblue;
}

.report-form h2 {
  text-align: center;
}

.report-form div {
  margin-bottom: 1rem;
}

.report-form button {
  margin-top: 1rem;
  width: 100%;
  padding: 10px 15px;
  background-color: #1976D2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.report-form button:hover {
  background-color: #1565C0;
}

/* Scrollable table */
.report-form .table-wrapper {
  margin-top: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.report-form table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.report-form th,
.report-form td {
  padding: 8px 10px;
  border: 1px solid #ddd;
}

.report-form th {
  background-color: #f2f2f2d0;
}

.report-form th,
.report-form td {
  text-align: left;
}